Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pkg-resources==0.0.0
Werkzeug==1.0.0
Gunicorn
py
w1thermsensor
smbus
requests
flask-login
flask-bcrypt
flask-jwt-extended
psutil
adafruit-circuitpython-htu21d
Adafruit_DHT

