Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
jinja2>=2.11.3
MarkupSafe==1.1.1
Werkzeug==2.2.3
Gunicorn
py
w1thermsensor
smbus
requests
flask-login
flask-bcrypt
flask-jwt-extended
psutil
flask_mysqldb
configobj
mysql-connector-python
wheel
