Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Werkzeug==1.0.0
Gunicorn
py
w1thermsensor
smbus
requests
flask-login
flask-bcrypt
flask-jwt-extended
psutil
adafruit-circuitpython-htu21d
adafruit-circuitpython-tsl2561
Adafruit-BMP
adafruit-circuitpython-adxl34x
adafruit-circuitpython-dht
flask_mysqldb
configobj
mysql-connector-python
