#! /bin/bash

dir=$( cd "$( dirname "$0" )" && cd ../../ && pwd )
date=$(date +%y%m%d-%H%M)

control_run=$(sqlite3 $dir/dbf/nettemp.db "SELECT control_run FROM gpio WHERE gpio='$gpio'")
if [ "$trigger_run" = "on" ]; then
    if pgrep -l -f control_proc | awk '{print $4}' | grep -q $gpio; then 
	echo "control_proc $gpio already running" && exit; 
	else 
	    $dir/modules/gpio/control_proc $gpio &
    fi
fi
