#tabs22 {
//font:bold 11px/1.5em Verdana;
float:left;
width:100%;
background:change-background;
font-size:93%;
line-height:normal;
}

#tabs22 ul {
width:auto;
//border-bottom:1px solid #888;
float:left;
background:#eaeced;
list-style:none;
margin:0px;
padding:10px 0px 0px 10px;
}

#tabs22 li {
display:inline;
margin:0;
padding:0;
}

#tabs22 a {
float:left;
background:url(images/tableft22.gif) no-repeat left top;
text-decoration:none;
margin:0;
padding:0 0 0 5px;
}

#tabs22 a span {
display:block;
background:url(images/tabright22.gif) no-repeat right top;
color:#24618E;
float:none;
padding:5px 15px 4px 6px;
}

#tabs22 a:hover span {
color:#FFF;
background-position:100% -42px;
}

#tabs22 a:hover {
background-position:0 -42px;
}

#tabs22 *.active span {
color:#FFF;
background-position:100% -42px;
}
#tabs22 *.active {
background-position:0 -42px;
}



