/* Gener  
/*- Menu Tabs 22--------------------------- */
    #tabs22 {
      font: bold 11px/1.5em Verdana;
      float:left;
      width:100%;
      background:change-background;
      line-height:normal;
      }
    #tabs22 ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	width: 964px;

	border-bottom: 1px solid #888;
	float: left;
	background: #eaeced;

      }
    #tabs22 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs22 a {
      float:left;
      background:url("images/tableft22.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabs22 a span {
      float:left;
      display:block;
      background:url("images/tabright22.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs22 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs22 a:hover span {
      color:#FFF;
      }
    #tabs22 a:hover {
      background-position:0% -42px;
      }
    #tabs22 a:hover span {
      background-position:100% -42px;
      }/*- Menu Tabs 22--------------------------- */
    #tabs22 {
      font: bold 11px/1.5em Verdana;
      float:left;
      width:100%;
      background:change-background;
      font-size:93%;
      line-height:normal;
      }
    #tabs22 ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
      }
    #tabs22 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs22 a {
      float:left;
      background:url("images/tableft22.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabs22 a span {
      float:left;
      display:block;
      background:url("images/tabright22.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs22 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs22 a:hover span {
      color:#FFF;
      }
    #tabs22 a:hover {
      background-position:0% -42px;
      }
    #tabs22 a:hover span {
      background-position:100% -42px;
      }
/*- Menu Tabs 22--------------------------- */
    #tabs22 {
      font: bold 11px/1.5em Verdana;
      float:left;
      width:100%;
      background:change-background;
      font-size:93%;
      line-height:normal;
      }
    #tabs22 ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
      }
    #tabs22 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs22 a {
      float:left;
      background:url("images/tableft22.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabs22 a span {
      float:left;
      display:block;
      background:url("images/tabright22.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs22 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs22 a:hover span {
      color:#FFF;
      }
    #tabs22 a:hover {
      background-position:0% -42px;
      }
    #tabs22 a:hover span {
      background-position:100% -42px;
      }
