ul
{
    font-size:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
}

li
{
    display:block;
    margin:0;
    padding:4px 5px 2px 9px;
    position:relative;
}

p
{
    font-size:95%;
    line-height:130%;
    margin:0 0 -10px;
}

h2
{
    clear:left;
    font-size:160%;
    font-weight:400;
    margin:0 0 3px;
}


body
{
    background:#ccc;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
    margin:5px;
    padding:5px;
    background-color:#fff;
    color: 000;
}

#top {
background-color:#eaeced;
border:1px solid #888;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

}
#header {
background-color: #000;
border:0px;
width: 100%;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#center {
float:left;
width: 100%;
background-color: #ccc;
border-top:1px solid #888;
}
#footer {
	clear: both;
	width: 100%;
	background-color: #316989;
	text-align: center;
	color:#fff;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;


}


span.belka {
background: #316989;
border-color: #808080;
display: block;
color: #fff;
margin: 5px;
padding: 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
span.okno {
display: block;
color: #000;
padding: 5px;
background: #eaeced;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
span.pasek_wykres {
border:1px solid;
background: #316989;
border-color: #808080;
display: block;
color: #fff;
margin: 2px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}


/* koniec table */
span.login {
float:right;
text-align: right;	
display: block;
padding: 3px;
}
span.logo {
float:left;
text-align: left;	
display: block;
padding: 3px;
}
span.brak {
	padding: 1px;
	display: block;
}


input.del_graf {
background: #316989;
}
input.image {
border: 0px solid;
background: #eaeced;
}
td {
	padding: 1px;
}











