[Unit]
Description=nettemp mqtt subscriber
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/php -f /var/www/nettemp/modules/mqtt/subscribe.php
Restart=always

[Install]
WantedBy=multi-user.target
