/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

@media screen and (max-width: 680px) {
  .container-nettemp {
    padding: 10px;
  }
}

@media screen and (min-width: 680px) {
  .container-nettemp {
    padding: 0px 15px;
  }
}

.breadcrumb {
  padding-top: 0px;
  padding-bottom: 0px;
}


