<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="50" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>nettemp</title>

    <!-- Bootstrap -->

    {% if nt_theme=='dark' %}
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.dark.css') }}" rel="stylesheet">
    {% else %}
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endif %}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

 </head>
<body>

 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
		<a href=""><img src="{{ url_for('static', filename='media/png/nettemp.pl.png') }}" height="50" alt="nettemp"></a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="{{ 'active' if '/' == geturl  }}"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"> Status</span></a></li>
<li class="{{ 'active' if '/charts' == geturl  }}"><a href="{{ url_for('charts', type='temp', max='hour', mode='', group='', single='') }}"><span class="glyphicon glyphicon-stats" aria-hidden="true"> Charts</span></a></li>
<li class="{{ 'active' if '/map' == geturl  }}"><a href="{{ url_for('map') }}"><span class="glyphicon glyphicon-picture" aria-hidden="true"> Map</span> </a></li>
<li class="{{ 'active' if '/alarms' == geturl  }}"><a href="/alarms"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> Alarms</span></a></li>
<li class="{{ 'active' if '/settings/sensors' == geturl  }}"><a href="/settings/sensors"><span class="glyphicon glyphicon-cog" aria-hidden="true"> Settings</span></a></li>
<li class="{{ 'active' if '/info' == geturl  }}"><a href="{{ url_for('info') }}"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"> Info</span></a></li>
<li><a href="{{ url_for('logout') }}" ><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Logout"> Logout: {{ current_user.username }}</span></a></li>

</ul>

</div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>

<div class="container-nettemp">
{% if reboot=='yes' %}
  <div class="alert alert-warning" role="alert"><a href="/settings/nettemp" class="btn btn-xs btn-warning">Reboot required</a></div>
{% endif %}

  {% block content %}
  {% endblock %}
</div>
</script>

{#<footer class="footer">
  <div class="container text-center">
  <a href="https://github.com/sosprz/nettemp/issues" target="_blank" class="btn btn-xs btn-primary">version 5.0</a>
  <a href="https://github.com/sosprz/nettemp/issues" target="_blank" class="btn btn-xs btn-primary">github</a>
  </div>
</footer>
#}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
