{% extends "base.html" %}
{% block content %}

{% if val_s=='None' %}
  {% set val_s = '' %}
{% endif %}

{% if time_s=='None' %}
  {% set time_s = '' %}
{% endif %}


{% if count > limit %}
<nav>
  <ul class="pagination pagination-sm">
   <li>
      <a href="edit?rom={{ rom }}&page={{ page-1 }}&limit={{ limit }}&val_s={{ val_s }}&time_s={{ time_s }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for pag in range(1,pages) %}
      <li class="{{ 'active' if pag==page else '' }}" ><a href="edit?rom={{ rom }}&page={{ pag }}&limit={{ limit }}&val_s={{ val_s }}&time_s={{ time_s }}"/>{{ pag }} </a></li>
    {% endfor %}
    <li>
      <a href="edit?rom={{ rom }}&page={{ pag }}&limit={{ limit }}&val_s={{ val_s }}&time_s={{ time_s }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}



<div class="panel panel-default" style="max-width: 1000px;">
  <div class="panel-body">
<form class="form-inline" action="" method="get">
  <label class="col-md-1 control-label" for="Input1">Search:</label>  
  <input type="text" class="form-control input-xs" id="Input1" placeholder="ex. 2.5" name="val_s">
  <input type="text" class="form-control input-xs" id="Input2" placeholder="ex. 2020-04-04 19:48:02" name="time_s">
  <input type="hidden" name="rom" value="{{ rom }}">
  <input type="hidden" name="page" value="{{ page }}">
  <input type="hidden" name="limit" value="{{ limit }}">

  <button type="submit" class="btn btn-xs btn-danger">Search</button>
</form>

  </div>
</div>


<div class="panel panel-default" style="max-width: 1000px;">
<div class="panel-heading">Database file: <span class="label label-primary">{{ rom }}</span> Row count: <span class="label label-primary">{{ count }}</span>
<form action="" method="post" style="display:inline!important;">
  <input type="hidden" name="rom" value="{{ rom }}">
<button type="submit" name="clear" value="yes"  class="btn btn-xs btn-danger pull-right">Clear</button>
</form>

</div>
<table class="table table-hover table-condensed small table-striped table-sm table-borderless">

<thead>
<tr>
  <th>Time</th>
  <th>Value</th>
  <th>Edit</th>
  <th>Remove</th>
  
</tr>
</thead>

{% for id, time, val in data %}

<tr>
<td> {{ time }}</td>
<td> {{ val }}</td>
<td>
   <form action="" method="post" style="width:100px;">
        <div class="input-group" >
          <input type="text" class="form-control input-xs" name="val" size="4" maxlength="10" value="{{ val }}" required>
          <input type="hidden" name="edit-row" value="yes" />
          <input type="hidden" name="id" value="{{ id }}" />
          <input type="hidden" name="rom" value="{{ rom }}" />
          <span class="input-group-btn">
            <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span</button>
          </span>
        </div>
      </form>
</td>
<td>
  <form action="" method="post" style="display:inline!important;">
    <input type="hidden" name="del-row" value="yes" />
    <input type="hidden" name="id" value="{{ id }}" />
    <input type="hidden" name="rom" value="{{ rom }}" />

    <button class="btn btn-xs btn-danger "><span class="glyphicon glyphicon-exclamation-sign"></span> </button>
  </form>
</td>
</tr>

{% endfor %}
{% endblock %}