{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}
{% include "devices_menu.html" %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Sensors drivers</h3>
</div>

<table class="table">
 <tr>
   <th>Driver</th>
   <th>Read data every minute:</th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
 </tr>
{% for file, time in av %}
    <tr>
    <td class="col-md-1">
        {{ file }}
    </td>
    <td class="col-md-1">
        <form action="" method="post" style="display:inline!important;">
          <input type="hidden" name="send-file" value="yes" />
          <input type="hidden" name="file" value="{{ file }}" />
          <input type="hidden" name="time2" value="{{ time }}" />

            <select name="time" class="form-control input-xs" style="width:300px;" onchange="this.form.submit()">
            {% for readAfter in readAfter %}
            {% if time != 'None' %}
            <option value="{{ readAfter }}"  {{ 'selected' if time == readAfter else '' }} > {{ readAfter }} </option>
            {% endif %}
            {% endfor %}
            <option value="off" {{ 'selected' if time is none else '' }} >OFF</option>
           
        
            </select>
        </form>
    </td>
    <td class="col-md-1">
    </td>
    <td class="col-md-1">
    </td>
    <td class="col-md-1">
    </td>
    <td class="col-md-1">
    </td>
    <td class="col-md-1">
    </td>
    <td class="col-md-5">
    </td>

    </tr>
{% endfor %}

</table>
</div>

{% endblock %}