{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}
{% include "devices_menu.html" %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">1wire</h3>
</div>
<table class="table">
    <tr>
    <td class="col-md-4">
        1-wire Nettemp module (DS2482) and other USB modules
    </td>
    <td class="col-md-8">
        <form action="" method="post" style="display:inline!important;">
        <button type="submit" name="therm" value="{{ 'off' if ds2482 == 'on' else 'on' }}"  class="{{ 'btn btn-xs btn-primary' if ds2482 == 'on' else 'btn btn-xs btn-default' }}">{{ 'ON' if ds2482 == 'on' else 'OFF' }}</button>
        <input type="hidden" name="send-therm" value="yes" />
        </form>
    </td>
    </tr>

    <tr>
    <td class="col-md-4">
        1-wire Raspberry Pi (GPIO4) (dtoverlay=w1-gpio)
    </td>
    <td class="col-md-8">
        <form action="" method="post" style=" display:inline!important;">
        <button type="submit" name="wire" value="{{ 'off' if wire == 'on' else 'on' }}"  class="{{ 'btn btn-xs btn-primary' if wire == 'on' else 'btn btn-xs btn-default' }}">{{ 'ON' if wire == 'on' else 'OFF' }}</button>
    	<input type="hidden" name="send-wire" value="yes" />
	</form>
    </td>
    </table>
</div>

{% endblock %}