{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='highcharts/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='highcharts/exporting.js') }}"></script>
{% if nt_settings['charts_theme'] != 'white' %} 
<script type="text/javascript" src="{{ url_for('static', filename='highcharts/dark-unica-old.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='highcharts/no-data-to-display.js') }}"></script>
<ol class="breadcrumb">
Type:
  {% for types in types  %}
    {% if types[0] == type %} 
    <li class="active">Type: {{ types[0] }}</li> 
    {% else %}  
    <li><a href="{{ url_for('charts', type=types[0], max=max, mode='', group='', single='') }}" >{{ types[0] }}</a></li>  
   {% endif %}
  {% endfor %}
  <li></li>
Group:
  {% for groups in groups  %}
    {% if groups == group %} 
     <li class="active">{{ groups }}</li> 
    {% else %}  
    <li><a href="{{ url_for('charts', type='', max=max, mode='', group=groups, single='') }}" >{{ groups }}</a></li>  
    {% endif %}
  {% endfor %}
</ol>
<ol class="breadcrumb">Time:
  {% for groupmax in groupmax  %}
    {% if groupmax == max %} 
     <li class="active">{{ groupmax }}</li> 
    {% else %}  
    <li><a href="{{ url_for('charts', type=type, max=groupmax, mode=mode, group=group, single=single, datetime=datetime ) }}" >{{ groupmax }}</a></li>  
    {% endif %}
  {% endfor %}
</ol>



<div id="container" style="height: 700px; min-width: 310px"></div>
<script type="text/javascript">
var start = +new Date();
function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {vars[key] = value;});
        return vars;
}
var type = getUrlVars()["type"];
var max = getUrlVars()["max"];
var single = getUrlVars()["single"];
var id = getUrlVars()["id"];
var group = getUrlVars()["group"];
var mode = getUrlVars()["mode"];
var datetime = getUrlVars()["datetime"];
if(!type) {
    var type = "temp";    
}
if(!max) {
    var max = "day";    
}
if(!group){
    if(!n_units) {
        {% for unittype, unit in units %}
          {% if unittype == type %}
            var n_units = "{{ unit }}";
          {% endif %}        
        {% endfor %}
    }
} 
else {
   var n_units = " ";
}

names = {{ names|tojson }};
console.log(names)


var hc = function () {
    var seriesOptions = [],
    seriesCounter = 0,
    // create the chart when all data is loaded
    createChart = function () {
    $('#container').highcharts('StockChart', {
	chart: {
            spacingBottom: 0,
	    zoomType: 'x',
            events: {
                load: function () {
                    if (!window.isComparing) {
                        this.setTitle(null, {
                            text: 'Built chart in ' + (new Date() - start) + 'ms'
                        });
                    }
                },  // end function
                {% if mode=='datetime' %}
                load: function() {
                    var chart = this,
                    points = chart.series[0].points,
                    maxValue,
                    maxchosenPoint,
                    minValue,
                    minchosenPoint;

                    points.forEach(function(point, index) {
                        if (!maxValue || maxValue < point.y ) {
                                maxValue = point.y;
                                maxchosenPoint = point;
                        }
                        if (!minValue || minValue > point.y ) {
                                minValue = point.y;
                                minchosenPoint = point;
                        }
                    });
                    maxchosenPoint.update({
                        marker: {
                            enabled: true,
                            symbol: 'url(static/media/ico/Upload-icon.png)'
                        }
                    })
                    minchosenPoint.update({
                        marker: {
                            enabled: true,
                            symbol: 'url(static/media/ico/Download-icon.png)'
                        }
                    });
                }
                {% endif %}


           },// end
	},
	rangeSelector : {
            enabled: false
	},
    	navigator: {
            enabled: true
    	},
	title: {
	    text: max
	},
	legend: {
	    enabled: true,
	    verticalAlign: 'bottom',
	    align: 'center',
	    y: 0,
    	    labelFormatter: function() {
                var lastVal = this.yData[this.yData.length - 1];
	        return '<span style="color:' + this.color + '">' + this.name + ': </span> <b>' + lastVal + n_units +'</b> </n>';
    	    }
	},
	style: {
            fontFamily: 'serif'
        },
	plotOptions: {
	    series: {
	        type: 'spline',
                marker: {
                   enabled: false
                },
            }
	},
        series: seriesOptions
    });
    };

$.each(names, function (i, name) {
    $.getJSON('data/charts/?type='+type+'&id='+name[0]+'&max='+max+'&mode='+mode+'&datetime='+datetime,  function (data) {
        if (max=="15min") { var xhour = "1min" }
        if (max=="hour") { var xhour = "hour" }
        if (max=="day") { var xhour = "hour" }
        if (max=="week") { var xhour = "day" }
        if (max=="month") { var xhour = "week" }
        if (max=="months") { var xhour = "month" }
        if (max=="year") { var xhour = "month" }
        if (max=="all") { var xhour = "year" }
 
	seriesOptions[i] = {
            name: name[1],
            data: data,
	    type: 'spline',
	    tooltip: { 
	        valueSuffix: n_units, 
	        valueDecimals: 2
	    },
            
	};
        seriesCounter += 1;
        if (seriesCounter === names.length) {
            createChart();
        }
        });
    });
}


hc();
setInterval(function() {
    hc();
}, 60000);
</script>


{% endblock %}