{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading">Info</div>
<div class="panel-body">
<center><h3>Support</h3></center>
<center><a href="http://nettemp.pl" target="_blank">nettemp.pl</a></center>
<center><a href="mailto:techfreak.pL@gmail.com">techfreak.pl@gmail.com</a></center>

<center><h3>Thanks to all donators and supporters</h3></center>

<center><h3>Licence</h3></center>
<center>
    <div class="container">
         Thanks!
    </div>
</center>
</div></div>

{% endblock %}