{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading">Info</div>
<div class="panel-body">
<center><h3>Support</h3></center>
<center><a href="http://nettemp.pl" target="_blank">nettemp.pl</a></center>
<center><a href="mailto:techfreak.pL@gmail.com">techfreak.pl@gmail.com</a></center>


<center><h3>Thanks to all donators and supporters</h3></center>

<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="MHCVFB9FWUEEC" />
<input type="hidden" name="item_name" value="nettemp development" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1" height="1" />
</form>

</center>

<center><h3>Licence</h3></center>
<center>
    <div class="container">
    You can not modify or remove netemp.pl logo, email address, paypal button other is MIT Licence.
   </div>
<br>
<pre>
MIT License
-----------

Copyright (c) 2020 Przemyslaw Sosnowski (https://techfreak.pl)
Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

</pre>
</center>
</div></div>

{% endblock %}