{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}

<div class="panel panel-default">
<div class="panel-heading">Mail settings</div>
<div class="panel-body">
<form class="form-horizontal" action="" method="post">
<fieldset>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">SMTP User</label>  
  <div class="col-md-2">
  <input id="textinput" name="smtp_user" type="text" placeholder="nettempuser@gmail.com" class="form-control input-sm" value="{{ nt_settings['smtp_user'] }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">SMTP Password</label>  
  <div class="col-md-2">
  <input id="textinput" name="smtp_p" type="password" placeholder="password" class="form-control input-sm" value="{{ nt_settings['smtp_p'] }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">SMTP Server</label>  
  <div class="col-md-2">
  <input id="textinput" name="smtp_server" type="text" placeholder="smtp.gmail.com" class="form-control input-sm" value="{{ nt_settings['smtp_server'] }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">SMTP Port</label>  
  <div class="col-md-2">
  <input id="textinput" name="smtp_port" type="text" placeholder="465" class="form-control input-sm" value="{{ nt_settings['smtp_port'] }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Mail subject</label>  
  <div class="col-md-2">
  <input id="textinput" name="mail_subject" type="text" placeholder="Nettemp notifications!" class="form-control input-sm" value="{{ nt_settings['mail_subject'] }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="singlebutton"></label>
  <div class="col-md-1">
     <input type="hidden" name="send-mail" value="yes" />
    <button id="singlebutton" name="save" class="btn btn-xs btn-primary">Save</button>
  </div>
</div>

</fieldset>
</form>

<form class="form-horizontal" action="" method="post">
<fieldset>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Send test mail</label>  
  <div class="col-md-2">
  <input id="textinput" name="recipient" type="text" placeholder="" class="form-control input-sm" value="">
  </div>
</div>


<div class="form-group">
  <label class="col-md-1 control-label" for="singlebutton"></label>
  <div class="col-md-1">
     <input type="hidden" name="send-test-mail" value="yes" />
    <button id="singlebutton" name="save" class="btn btn-xs btn-primary">Send</button>
  </div>
</div>

</fieldset>
</form>
{{ info }}
</div>
</div>


{% endblock %}