{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery-ui.css') }}">
  <script src="{{ url_for('static', filename='jquery/jquery-ui.js') }}"></script>
   <style type="text/css">
  .draggable {
      width: 1px;
      height: 1px;
      //padding: 0.5em;
      float: left;
      margin: 0px;
      cursor: move;
      border: 0px;
  }
  .draggable, a {
      cursor:move;
  }
  #draggable, .draggable2 {
      margin-bottom:20px;
      cursor:move;
  }
  #draggable {
      cursor: move;
  }
  #draggable {
      cursor: e-resize;
  }
  #content {
      width: {{ nt_settings['map_width'] }}px;
      height: {{ nt_settings['map_height'] }}px;
      border:2px solid #ccc;
      padding: 2px;
      {% if mapimage == 'new' %}
        background: url("/mapimage?nocache=''") left top;
      {% else %}
        background: url("{{ url_for('static', filename='media/jpg/map_example.jpg') }}?nocache=''") left top;
      {% endif %}
      //background-size: cover;
      background-repeat: no-repeat;
  }
  h3 {
      clear: left;
  }
  .draggable.ui-draggable-dragging { 
    //padding: 2px;
    
    }
</style>

<script>
var elements = {{ group|tojson|safe }}

$(function() {
  if (elements!= null) {
    var json = JSON.parse(elements) 
    $.each(json,function(i, v){
      //console.log(i+'{left:'+v['pos_x']+',top:'+v['pos_x']+'}');
      var map_id = v['map_id']
      $("#data-need" + map_id).css({
                                  left:v['pos_x'],
                                  top:v['pos_y'],
                                 })
    }); 

    $( "#content div" ).draggable({
      containment: '#content',
      stack: "#content div",
      scroll: false,
      stop: function(event, ui) {
      var pos_x = ui.position.left;
      var pos_y = ui.position.top;
      var need = ui.helper.data("need");
//      var dst = ui.helper.data("dst");
        $.ajax({
          type: "POST",
          url: "",
          data: { pos_x: pos_x, pos_y: pos_y, map_id: need, 'send-map': 'yes' }
        });
      }
    });
  }
});




</script>

<div id="content">
{% for name, tmp, unit, unit2, ico, title, type, alarm, time, map_id, background_color, display_name, font_color, transparent_bkg, tmp_min, tmp_max, background_low, background_high, font_size in sensors %}

<div data-need="{{ map_id }}" id="data-need{{ map_id }}" data-dst="sensors" class="ui-widget-content draggable">
{# <span class="label label-success"> {{ name}} {{ tmp }} {{ unit }}</span> #}

 <span class="label" style="
          {% if tmp >= tmp_max and alarm=='on' %}
            background-color: {{ background_high if background_high else 'red' }};
          {% elif tmp <= tmp_min and alarm=='on' %}
            background-color: {{ background_low if background_low else 'blue' }};
          {% elif transparent_bkg == 'on'%} 
            background-color: background-color:rgba(0,0,0,0) !important;
          {% else %}
             background-color: {{ background_color if background_color else '#2ecc71' }};
          {% endif %}
          color: {{ font_color if font_color }};
          font-size: {{ font_size if font_size }}%;
   "> 
   {{ name  if display_name=='on' }} {{ tmp }} {{ unit }}
  </span>

</div>

{% endfor %}

{% endblock %}