{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Charts settings</h3>
</div>
<table class="table">
    <tr>
    <td class="col-sm-2">
        Dark theme
    </td>
    <td class="col-sm-10">
        <form action="" method="post" style="display:inline!important;">
        <button type="submit" name="theme" value="{{ '' if nt_settings['nt_theme'] == 'dark' else 'dark' }}"  class="{{ 'btn btn-xs btn-primary' if nt_settings['nt_theme'] == 'dark' else 'btn btn-xs btn-default' }}">{{ 'ON' if nt_settings['nt_theme'] == 'dark' else 'OFF' }}</button>
        <input type="hidden" name="send-theme" value="yes" />
        </form>
    </td>
    </tr>
{#
    <tr>
    <td class="col-md-1">
        White theme
    </td>
    <td class="col-md-8">
        <form action="" method="post" style="display:inline!important;">
        <button type="submit" name="theme" value="{{ '' if nt_settings['charts_theme'] == 'white' else 'white' }}"  class="{{ 'btn btn-xs btn-primary' if nt_settings['charts_theme'] == 'white' else 'btn btn-xs btn-default' }}">{{ 'ON' if nt_settings['charts_theme'] == 'white' else 'OFF' }}</button>
        <input type="hidden" name="send-theme" value="yes" />
        </form>
    </td>
    </tr>
#}
    </table>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Tools</h3>
</div>
<table class="table">
    <tr>
    <td class="col-sm-2">
        Reboot
    </td>
    <td class="col-sm-10">
        <form action="" method="post" style="display:inline!important;">
        <button type="submit" name="reboot" value="yes"  class="btn btn-xs btn-danger">Reboot</button>
        <input type="hidden" name="send-reboot" value="yes" />
        </form>
    </td>
    </tr>
    </table>
</div>



{% endblock %}