{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}

<div class="panel panel-default">
<div class="panel-heading">Node settings</div>
<table class="table table-hover table-condensed small table-striped table-sm table-borderless">
<thead>
<tr>
<th title="">Name</th>
<th title="">Server Url</th>
<th title="">Token</th>
<th title="">Copy to other</th>
<th title="">Remove</th>
</tr>
</thead>

{% for id, name, node, url, token in data %}

<tr>
    <td class="col">{{ name }}
    </td>

    <td class="col">
      <form action="" method="post" >
        <div class="input-group" style="width:300px">
          <input type="text" class="form-control input-xs" name="url" size="1"  value="{{ url }}">
          <input type="hidden" name="id" value="{{ id }}" />
          <input type="hidden" name="send-url" value="yes" />
          <span class="input-group-btn">
            <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </td>

    <td class="col">
      <form action="" method="post" >
        <div class="input-group" style="width:300px">
          <input type="text" class="form-control input-xs" name="token" size="1"  value="{{ token }}">
          <input type="hidden" name="id" value="{{ id }}" />
          <input type="hidden" name="send-token" value="yes" />
          <span class="input-group-btn">
            <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </td>

    <td class="col">
    <form action="" method="post" >
        <input type="hidden" name="id" value="{{ id }}" />
	<input type="hidden" name="send-copy" value="yes" />
        <input type="hidden" name="node_token" value="{{ token }}" />
        <input type="hidden" name="node_url" value="{{ url }}" />
	<button class="btn btn-xs btn-info"><span class="glyphicon glyphicon-asterisk"></span> </button>
    </form>
    </td>

    <td class="col-sm-6">
    <form action="" method="post" >
        <input type="hidden" name="id" value="{{ id }}" />
	<input type="hidden" name="send-del" value="yes" />
	<button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </button>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">Request token from remote url</div>
  <div class="panel-body">

<form class="form-horizontal" action="" method="post">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="url">Url</label>  
  <div class="col-md-2">
  <input id="url" name="url" type="text" placeholder="https://172.18.10.10/register" class="form-control input-xs" required="" value="">
  <span class="help-block">ex: https://172.18.10.10/register</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="username">Username</label>  
  <div class="col-md-2">
  <input id="username" name="username" type="text" placeholder="username" class="form-control input-xs" required="" value="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="password">Password</label>
  <div class="col-md-2">
    <input id="password" name="password" type="password" placeholder="password" class="form-control input-xs" required="" value="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-1 control-label" for="send-request"></label>
  <div class="col-md-2">
    <button id="send-request" name="send-request" value="yes" class="btn btn-primary btn-xs">Send</button>
  </div>
</div>

</fieldset>
</form>
{% if err%}
  {{ err |safe}}
{% endif %}
{% if list %}
<form class="form-horizontal" action="" method="post">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="url">Url</label>  
  <div class="col-md-2">
  <input id="url" name="node_url" type="text" class="form-control input-xs" required="" value="{{ list[0] }}">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-1 control-label" for="username">Token</label>  
  <div class="col-md-2">
  <input id="username" name="node_token" type="text" class="form-control input-xs" required="" value="{{ list[1] }}">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-1 control-label" for="send-request"></label>
  <div class="col-md-2">
    <button id="send-request" name="send-copy" value="yes" class="btn btn-info btn-xs">Copy to all</button>
  </div>
</div>

</fieldset>
</form>
{% endif %}
   
  </div>
</div>
{% endblock %}