{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}

<div class="panel panel-default">
<div class="panel-heading">Types</div>

<div class="table-responsive">
<table class="table table-hover table-condensed small table-striped table-xs table-borderless" border="0">

<thead>
<tr>
<th></th>
<th>Type</th>
<th>Unit</th>
<th>Unit2</th>
<th>ICO</th>
<th>Title</th>
{#<th>Min</th>
<th>Max</th>
<th>Exclude Value1</th>
<th>Exclude Value2</th>
<th>Exclude Value3</th>
#}
<th></th>
</tr>
</thead>
<tr>
     <td>
     </td>
     <td class="col-md-0">
    <form action="" method="post" style="display:inline!important;">
	<input type="text" name="type" size="5" maxlength="30" value="" class="form-control input-xs" style="width:100px;"/>
    </td>
     <td class="col-md-0">
	<input type="text" name="unit" size="5" maxlength="30" value="" class="form-control input-xs" style="width:50px;"/>
    </td>
     <td class="col-md-0">
	<input type="text" name="unit2" size="5" maxlength="30" value="" class="form-control input-xs" style="width:50px;"/>
    </td>
    <td class="col-md-0">
	<select name="ico" class="form-control input-xs" style="width:300px;">
       {% for group in group %}
       {% if group[0] != 'none' %}
       <option value="{{ group[0] }}"  {{ 'selected' if ico == group[0] else '' }} > {{ group[0] }}</option>
       {% endif %}
       {% endfor %}
       <option value="none" {{ 'selected' if ico == 'none' else '' }} >none</option>
	</select>
    </td>
    <td class="col-md-0">
	<input type="text" name="title" size="10" maxlength="30" value="" class="form-control input-xs" style="width:100px;"/>
    </td>
{#
    <td class="col-md-0">
	<input type="text" name="min" size="10" maxlength="30" value="" class="form-control input-xs"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="max" size="10" maxlength="30" value="" class="form-control input-xs"/>
    </td> 
    <td class="col-md-0">
	<input type="text" name="value1" size="10" maxlength="30" value="" class="form-control input-xs"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="value2" size="10" maxlength="30" value="" class="form-control input-xs"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="value3" size="10" maxlength="30" value="" class="form-control input-xs"/>
    </td>
#}

    <td class="col-md-6">
	<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> </button>
	<input type="hidden" name="send-types-new" value="yes"/>
    </form>
    </td>
</tr>

{% for id, type, unit, unit2, ico, title in data %}
<tr>
     <td>
     <img src="{{ url_for('static', filename=ico) }}" alt="" title="{{ title }}"/>
     </td>
     <td class="col-md-0">
    <form action="" method="post" style="display:inline!important;">
	<input type="text" name="type" size="10" maxlength="30" value="{{ type }}" class="form-control input-xs" style="width:100px;"/>
    </td>
     <td class="col-md-0">
	<input type="text" name="unit" size="10" maxlength="30" value="{{ unit }}" class="form-control input-xs" style="width:50px;"/>
    </td>
     <td class="col-md-0">
	<input type="text" name="unit2" size="10" maxlength="30" value="{{ unit2 }}" class="form-control input-xs" style="width:50px;"/>
    </td>
    <td class="col-md-0">
    <select name="ico" class="form-control input-xs" style="width:300px;">
    {% for group in group %}
    {% if group[0] != 'none' %}
    <option value="{{ group[0] }}"  {{ 'selected' if ico == group[0] else '' }} > {{ group[0] }}</option>
    {% endif %}
    {% endfor %}
    <option value="none" {{ 'selected' if ico == 'none' else '' }} >none</option>

    </select>
        
    </td>
    <td class="col-md-0">
	<input type="text" name="title" size="10" maxlength="30" value="{{ title }}" class="form-control input-xs" style="width:100px;"/>
    </td>
{#    <td class="col-md-0">
	<input type="text" name="min" size="10" maxlength="30" value="{{ min }}" class="form-control input-xs" style="width:100px;"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="max" size="10" maxlength="30" value="{{ max }}" class="form-control input-xs" style="width:100px;"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="value1" size="10" maxlength="30" value="{{ value1 }}" class="form-control input-xs" style="width:100px;"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="value2" size="10" maxlength="30" value="{{ value2 }}" class="form-control input-xs" style="width:100px;"/>
    </td>
    <td class="col-md-0">
	<input type="text" name="value3" size="10" maxlength="30" value="{{ value3 }}" class="form-control input-xs" style="width:100px;"/>
    </td>
#}    
    
    
    <td class="col-md-0">
	<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-save"></span> </button>
	<input type="hidden" name="id" value="{{ id }}" />
	<input type="hidden" name="send-types-update" value="yes"/>
{#    </td> #}
    </form>
{#    <td class="col-md-0"> #}
    <form action="" method="post" style="display:inline!important;">
	<button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </button>
	<input type="hidden" name="id" value="{{ id }}" />
	<input type="hidden" name="send-types-del" value="yes"/>
    </form>
    </td>
</tr>
{% endfor %}
<tr>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
{#    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
    <td class="col-md-0">
    </td>
#}
    <td colspan="2" class="col-md-0">
     <form action="" method="post" style="display:inline!important;">
	<button class="btn btn-xs btn-info">Defaults <span class="glyphicon glyphicon-refresh"></span> </button>
	<input type="hidden" name="send-default" value="yes"/>
    </form>
     </td>
</tr>


</table>
</div>

{% endblock %}