{% extends "base.html" %}
{% block content %}
{% include "settings_menu.html" %}

<div class="panel panel-default">
<div class="panel-heading">Users</div>

<div class="table-responsive">
<table class="table table-striped table-condensed small">
<thead>
<tr>
<th>Name</th>
<th>Password</th>
<th>Repeat password</th>
<th></th>
<th>Email</th>
<th></th>
<th>Receive Mail</th>
<th>JWT</th>
<th>Active</th>
<th></th>
</tr>
</thead>

<tr>	
    <form action="" method="post">
    <td class="col">
      <input type="text" name="username" value="" class="form-control input-xs" required style="width:100px;" /></td>
    <td class="col">
      <input type="password" name="password" value="" class="form-control input-xs" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contan at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="width:200px;"/></td>
    <td class="col">
      <input type="password" name="password2" value="" class="form-control input-xs" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="width:200px;"/></td>
    <td class="col">
    </td>
    <td class="col">
      <input type="email" name="email" value="" class="form-control input-xs" required="" style="width:200px;"/></td>
    <td>
    </td>
    <td class="col">
      <select name="receive_mail" class="form-control input-xs" style="width:50px;" >
      <option value="no" > no</option>
      <option value="yes" > yes</option>
      </select>
    </td>
    <td class="col">
      <select name="jwt" class="form-control input-xs" style="width:50px;" >
      <option value="no" > no</option>
      <option value="yes" > yes</option>
      </select>
    </td>
    <td class="col">
      <select name="active" class="form-control input-xs" style="width:50px;">
      <option value="no" > no</option>
      <option value="yes" > yes</option>
      </select>
    </td>
            <input type="hidden" name="send-new" value="yes" />
    <td class="col-md-6">
     <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> </button>
    </td>
    </form>
</tr> 
{% for id, username, password, email, active, jwt, receive_mail in data %}
    <tr>
    <td>
      {{ username }}
    </td>
    <td>
      <form action="" method="post" style="display:inline!important;">
      <input type="password" name="password" size="10" maxlength="30" value="" class="form-control input-xs" required style="width:200px;"/> 
    </td>
    <td>
      <input type="password" name="password2" size="10" maxlength="30" value="" class="form-control input-xs" required style="width:200px;"/> 
      <input type="hidden" name="send-password" value="yes" />
      <input type="hidden" type="submit" name="id" value="{{ id }}" />
    </td>
    <td>
      <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-refresh"></span> </button>
      </form>
    </td>
    <td>
      <form action="" method="post" style="display:inline!important;">
      <input type="text" name="email" size="10" maxlength="30" value="{{ email }}" class="form-control input-xs" required style="width:200px;"/> 
      <input type="hidden" name="send-email" value="yes" />
      <input type="hidden" type="submit" name="id" value="{{ id }}" />
    <td>
      <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-refresh"></span> </button>
      </form>
    </td>
    <td>
      <form action="" method="post" style="display:inline!important;">
        <select name="receive_mail" class="form-control input-xs" onchange="this.form.submit()" style="width:50px;">
          <option value="no"  {{ 'selected' if receive_mail == 'no' else '' }} > no</option>
          <option value="yes"  {{ 'selected' if receive_mail == 'yes' else '' }} > yes</option>
        </select>
        <input type="hidden" name="send-receive" value="yes" />
        <input type="hidden" type="submit" name="id" value="{{ id }}" />
      </form>
    </td>
    <td>
      <form action="" method="post" style="display:inline!important;" >
        <select name="jwt" class="form-control input-xs" onchange="this.form.submit()" style="width:50px;">
          <option value="no"  {{ 'selected' if jwt == 'no' else '' }} > no</option>
          <option value="yes"  {{ 'selected' if jwt == 'yes' else '' }} > yes</option>
        </select>
        <input type="hidden" name="send-jwt" value="yes" />
        <input type="hidden" type="submit" name="id" value="{{ id }}" />
     </form>
    <td>
    {% if username != 'admin' %} 
      <form action="" method="post" style="display:inline!important;" >
        <select name="active" class="form-control input-xs" onchange="this.form.submit()" style="width:50px;">
          <option value="no"  {{ 'selected' if active == 'no' else '' }} > no</option>
          <option value="yes"  {{ 'selected' if active == 'yes' else '' }} > yes</option>
        </select>
        <input type="hidden" name="send-active" value="yes" />
        <input type="hidden" type="submit" name="id" value="{{ id }}" />
      </form>
    {% endif %} 
    <td>
    {% if username != 'admin' %}
      <form action="" method="post">
        <input type="hidden" name="id" value="{{ id }}" />
        <input type="hidden" type="submit" name="send-remove" value="yes" />
        <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </button>
      </form>
    {% endif %}
    </td>
    <td></td>
    </tr>
{% endfor %}

</table>
</div>
</div>

{% endblock %}